/*Toaster*/
#toaster-area {
	position: fixed;
	top: -9000px;
	left: 0;
	width: 100%;
	overflow: visible;
	z-index: 10000;
}
.toaster-bar {
	color: black;
	border-bottom: 1px solid black;
	width: 100%;
	cursor: pointer;
	-webkit-box-shadow: #9C9C9C 0 1px 15px;
	-moz-box-shadow: 0 1px 15px #9C9C9C;
}
.toaster-bar-container {
	position: relative;
	display: block;
	width: 100%;
	overflow: visible;
}
.toaster-bar-bkg {
	background: rgba(255, 255, 255, 0.949219);
	opacity: .75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.toaster-bar {
	padding: 1.2em 0;
}
.toaster-bar-contents {
	width: 740px;
	margin: 0 auto;
	text-align: left;
	position: relative;
	font-size: 150%;
}